

<div align="center" style= "padding-top: 20px;" >
	<div class="top-right" style= "padding-top: 20px;" >
		<div class="container-fluid" style="padding-top: 20px; padding-bottom: 45px; width: 30%; float: right;">
			<%= image_tag("/501c3.png", :alt => "rss feed", align: "center", style: "float: centered; margin-bottom: 10px; width: 70%; height 70%;") %>
			<div style= "float:left; font-size: 12px">
				The Women in Chemistry Initiative is a non-profit 501c3 organization.  All donations are tax deductible.  For more information on tax deductions for 501c3 non-profits, please visit the following website.
			</div>
			<%= link_to "https://501c3go.com/what-is-a-501c3/", style: "font-size: 12px" %>
	</div>

	<div class="top-right" style= "padding-top: 20px;" >
		<div class="container-fluid" style="padding-top: 20px; padding-bottom: 45px; width: 30%; float: left">
			<%= image_tag("https://scontent-sjc3-1.xx.fbcdn.net/v/t31.0-8/10355612_1466423220317340_2509667441501223212_o.png?_nc_cat=109&_nc_ht=scontent-sjc3-1.xx&oh=a0a3aa854e49d3c92d30d3063a42bc74&oe=5D6057B5", :alt => "rss feed", align: "center", style: "float: centered; margin-bottom: 10px; width: 70%; height 70%;") %>
			
			
	</div>

<div class="container-fluid" style="padding-top: 20px; background: #ffffff; padding-bottom: 10px; width: 30%; float: centered; border: solid; border-width: 1px; border-color: #D3D3D3; border-radius: 5px">
	<h1 class="container-fluid" style="font-size: 25px; border-bottom: solid; border-bottom-width: 2px"> Support Our Cause </h1>
	<div class="container-fluid"> Proceeds go towards the Women in Chemistry Initiative </div>

	<%= form_tag(new_donation_path, method: :get, class: "form-group") do %>
	<div class="input-group mb-3" style= "display: inline-block;">
  		<div class="input-group-prepend">
    		<%= submit_tag "Donate $", id: :donate, class: "buttoncustom", style: "font-size: 12px;"%>
  			<%= text_field_tag :amount_dollars, 0, class: "donatetext", style: "border-radius: 5px; padding-left: 5px"%>
  		</div>

	<% end %>

	<%= link_to "Donate $5", new_donation_path(amount_dollars: 5),  id: "donate_5", class: "button", style: "font-size: 12px; float: left"%>
	<%= link_to "Donate $10", new_donation_path(amount_dollars: 10), id: "donate_10", class: "button", style: "font-size: 12px; float: middle" %>	
	<%= link_to "Donate $15", new_donation_path(amount_dollars: 15), id: "donate_15", class: "button", style: "font-size: 12px; float:right" %>

	<div>
	<%= image_tag("/payment/stripe/powered_by_stripe.png", :alt => "rss feed", class: "cardstripe") %>
	<%= image_tag("/payment/paymethod/dark/1.png", :alt => "rss feed", class: "card") %>
	<%= image_tag("/payment/paymethod/dark/2.png", :alt => "rss feed", class: "card") %>
	<%= image_tag("/payment/paymethod/dark/22.png", :alt => "rss feed", class: "card") %>
	<%= image_tag("/payment/paymethod/dark/16.png", :alt => "rss feed", class: "card") %>
	<%= image_tag("/payment/paymethod/dark/14.png", :alt => "rss feed", class: "card") %>
	<%= image_tag("/payment/paymethod/dark/10.png", :alt => "rss feed", class: "card") %>
	</div>
	<div style= "margin-top: 10px;">
	<%= image_tag("/payment/lock.png", :alt => "rss feed", align: "left", class: "lock") %>
	<p style= "font-size: 8px; text-align: left; padding-left: 10px"> *YOUR CREDIT / DEBIT CARD WILL BE SECURELY PROCESSED ACCORDING TO PCI STANDARDS. </p>
	</div>

</div>
</div>